<div class="div-center-wide panel panel-default">
<%= simple_form_for(@office, defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } }) do |f| %>
  <%= f.input :name %>
  <%= f.input :room_number %>
  <%= f.input :description %>

  <hr>
  <%= f.submit "Save Office", class: "btn btn-primary" %>

<% end %>
</div>
