<h1>Editing office</h1>

<%= render 'form' %>

<%= link_to ' ', @office, class: "btn btn-info glyphicon glyphicon-zoom-in" %>
<%= link_to ' ', offices_path, class: "btn btn-success glyphicon glyphicon-backward"  %>
