<div class="content">
<h1>All Offices</h1>
<hr>
  <table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Room number</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @offices.each do |office| %>
      <tr>
        <td><%= office.name %></td>
        <td><%= office.room_number %></td>
        <td><%= office.description %></td>
        <td><%= link_to 'Show', office, class: "btn btn-xs btn-default" %>
       <%= link_to 'Edit', edit_office_path(office.id), class: "btn btn-xs btn-default"  %>
       <%= link_to 'Destroy', office, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Office', new_office_path, class: "btn btn-lg btn-success" %>
</div>