<div class="div-center-wide panel panel-default">
<p id="notice"><%= notice %></p>

<table class="table table-bordered">
 
    <tr>
    <td class="label-show"> Name</td>
    <td>  <%= @office.name %></td>
    </tr>

    <tr>
    <td class="label-show"> Room Number </td>
    <td> <%= @office.room_number %></td>
    </tr>

    <tr>
    <td class="label-show"> Description </td>
    <td>   <%= @office.description %></td>
    </tr>


</table>

<div class="pull-right">
<%= link_to 'Edit', edit_office_path(@office), class: "btn btn-sm btn-info" %> 
<%= link_to 'Back', offices_path, class: "btn btn-sm btn-success"%>
</div>
<br>
</div>
