<div class="panel panel-default div-center">
<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, :required => true, :autofocus => true, input_html: { class: 'form-control' } %>
    <%= f.input :password, :required => true, input_html: { class: 'form-control' } %>
    <%= f.input :password_confirmation, :required => true, input_html: { class: 'form-control' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
