<div class="jumbotron">
<h1> Welcome user!</h1>
<p> Ruby on Rails Lab 5</p><p> <small><em>You know I'm such a fool for you. 
You got me wrapped around your finger.
Do you have to let it linger? </em>Mallari, Bautista, David, Samson. Jan 26, 2014 </p>
</div>