<div class="panel panel-default div-center">
  <h2>Change your password</h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :reset_password_token, :as => :hidden, input_html: { class: 'form-control' } %>
  <%= f.full_error :reset_password_token %>

  <div class="form-inputs">
    <%= f.input :password, :label => "New password", :required => true, :autofocus => true, input_html: { class: 'form-control' } %> 
    <%= f.input :password_confirmation, :label => "Confirm your new password", :required => true, input_html: { class: 'form-control' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Change my password" class: "btn btn-primary"  %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
