<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>">Security Log Book</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Offices <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Add Office", new_office_path %></li>
            <li><%= link_to "All Offices", offices_path %></li>
          </ul>
        </li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Log Records <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Add Log Record", new_log_record_path %></li>
            <li><%= link_to "All Log Records", log_records_path %></li>
          </ul>
        </li>
  
        <li>
          <% if user_signed_in? %>
          <li>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
          </li>
        <% else %>
          <li>
          <%= link_to('Login', new_user_session_path)  %>  
          </li>
        <% end %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->

  </div>
</nav>

