<div class="panel panel-default user-auth col-lg-5">
<h2>Sign in</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, :required => false, :autofocus => true, input_html: { class: 'form-control' } %>
    <%= f.input :password, :required => false, input_html: { class: 'form-control' } %>
    <%= f.input :remember_me, inline_label: 'Yes, remember me', :as => :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign in", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>

<div class="col-lg-7">
	<%= render "devise/shared/welcome" %>
</div>

