
<div class="div-center-wide panel panel-default">
<%= simple_form_for(@log_record, defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } }) do |f| %>

 <%= f.association :user,  prompt: "#{current_user}", disabled: true %>
  <%= f.input :visitor_name %>
      <%= f.association :office, prompt: "Choose Office" %>
  <%= f.input :purpose_of_visit %>
  <%= f.input :time_of_visit, as: :datetime, start_year: Date.today.year - 50, end_year: Date.today.year, order: [:month, :day, :year] , input_html: { class: 'date-time' }%>


  <hr>
  <%= f.submit "Save Record", class: "btn btn-primary" %>
<% end %>
</div>