<h1>Editing Log Record/h1>

<%= render 'form' %>

<%= link_to ' ', @log_record, class: "btn btn-info glyphicon glyphicon-zoom-in" %> 
<%= link_to ' ', log_records_path, class: "btn btn-success glyphicon glyphicon-backward" %>
