
<div class="content">
<h1>All Log Records</h1>
  <hr>
  <table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Visitor name</th>
      <th>Purpose of visit</th>
      <th>Time of visit</th>
      <th>Office</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @log_records.each do |log_record| %>
      <tr>
        <td><%= log_record.user %></td>
        <td><%= log_record.visitor_name %></td>
                <td>
          <%= log_record.office %>
        </td>
        <td><%= log_record.purpose_of_visit %></td>
        <td><%= log_record.time_of_visit %></td>

        <td><%= link_to 'Show', log_record, class: "btn btn-xs btn-default" %>
       <%= link_to 'Edit', edit_log_record_path(log_record), class: "btn btn-xs btn-default" %>
        <%= link_to 'Delete', log_record, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Log Record', new_log_record_path, class: "btn btn-lg btn-success" %>

</div>
