<div class="div-center-wide panel panel-default">
<p id="notice"><%= notice %></p>

<table class="table table-bordered">
 
    <tr>
    <td class="label-show"> User </td>
    <td>(<%= @log_record.user_id %>)
    <%= @log_record.user %></td>
    </tr>

    <tr>
    <td class="label-show"> Visitor Name </td>
    <td> <%= @log_record.visitor_name %></td>
    </tr>

    <tr>
    <td class="label-show"> Office </td>
    <td>  (<%= @log_record.office_id %>)
  <%= @log_record.office %></td>
    </tr>

    <tr>
    <td class="label-show"> Purpose of Visit </td>
    <td>  <%= @log_record.purpose_of_visit %></td>
    </tr>

    <tr>
    <td class="label-show"> Time of Visit </td>
    <td> <%= @log_record.time_of_visit %></td>
    </tr>



</table>


<div class="pull-right">

<%= link_to 'Edit', edit_log_record_path(@log_record), class: "btn btn-sm btn-info" %> 
<%= link_to 'Back', log_records_path, class: "btn btn-sm btn-success"%>
</div>
<br>
</div>