/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

  @import "bootstrap";

  /* DEVICE : USER AUTHENTICATION 
---------------------------------------*/
body{
	background: url('/subtle_white_feathers.png');
}
.user-auth{
	padding: 30px;
}

.div-center{
	width: 400px;
	margin: 0 auto;
	padding: 30px;	
}

.div-center-wide{
	width:640px;
	margin: 0 auto;
	padding: 30px;	
}

.date-time{
	margin-left: 9px;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555555;
	vertical-align: middle;
	background-color: white;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}


.date-time:focus{
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-inputs{
	margin-bottom: 16px;	
}


.form-control{
	margin-bottom: 5px;	
}

.form-control-center{
	margin-bottom: 5px;	
}

/* TABLE /show 
-----------------------------------------*/
.label-show{
	font-weight: bold;
	width: 170px;
}

.jumbotron{
	background: rgba(62, 200,  230, 0.9); 
}
