<!DOCTYPE html>
<html>
<head>
  <title>Security Log Book</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <% if user_signed_in? %>
          <%= render partial: "shared/offnav" %>
        <% else %>
          <%= render partial: "shared/nav" %>
        <% end %>

        

<div class="container">
  <%= yield %>
</div>

</body>
</html>
